:root {
    background: rgb(0, 179, 255);
    
  }

  button {
    position: absolute;
    left: 450px;
    top: 259px;
    text-align: center;
    padding-top: 30px 30px ;
    margin-left: 100px;
    width: 10%;
  }
    

  #comments {
    position: absolute;
    left: 5px;
    top: 250px;
    text-align: center;
    width: 50%;

  }